* {
    box-sizing: border-box;
    margin: 0;
}
/* disply: flex ; flex-direction */
h1 {
justify-content: center;
text-align: center;
align-items: center;
background-color: white;
font-family: 'Major Mono Display', monospace;
font-size: 60px;
margin: 100px;
}
body {
    border: 5px groove black;
    background-image: linear-gradient(rgb(68, 61, 61), grey);
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: auto;
}



}
main {
justify-content: center;
align-items: center;
text-align: center;

}
